<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Requests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" th:href="@{/}">Tour.me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/admin/tour/add}">Add a Tour <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/admin/tours/all}">All Tours <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/admin/tours/requests}">Tour Requests <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#" th:href="@{/login?logout}" class="btn btn-warning">LOGOUT</a>
            </li>
        </ul>

    </div>
</nav>
<body>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>#</td>
        <td>time</td>
        <td>Tour</td>
        <td>Customer Name</td>
        <td>Customer Mobile Nr</td>
        <td>Customer E-mail</td>
        <td>Contact</td>

    </tr>
    </thead>
    <tbody>
    <tr th:if="${requestsList == null || requestsList.empty}">
        <td colspan="7">No requests!</td>
    </tr>
    <tr th:each="request : ${requestsList}">
        <td th:text="${request.id}">1</td>
        <td th:text="${request.timestamp}">Name ...</td>
        <td th:text="${request.tourName}">Name ...</td>
        <td th:text="${request.customerName}">Name ...</td>
        <td th:text="${request.mobileNr}">number ...</td>
        <td th:text="${request.customerEmail}">email ...</td>
        <td><a class="btn btn-success" role="button" href="#" th:href="@{'mailto:' + ${request.customerEmail}}">Contact <span class="sr-only">(current)</span></a></td>
    </tr>

    </tbody>
</table>
</body>
</html>